/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/menlo'); */
@import url('https://fonts.cdnfonts.com/css/dejavu-sans-mono');

* {
  margin: 0;
  overflow: hidden;
}

:root {
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
  /* font-family: 'Menlo', sans-serif; */
  font-family: 'DejaVu Sans Mono', sans-serif;
  font-size: 15px;

  color: #c2c2c2;
  background-color: #282a36;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
}

.editor {
  /* grid-area: editor; */
  width: 100vw;
  /* overflow: hidden; */
}

.editorContainer {
  position: relative;
}

.editText {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 90%;
  overflow: auto;
  white-space: pre;
}

.numLines {
  float: left;
}

/* .hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline} */
.hljs-comment,.hljs-meta{color:#565f89}.hljs-deletion,.hljs-doctag,.hljs-regexp,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-tag,.hljs-template-tag,.hljs-variable.language_{color:#f7768e}.hljs-link,.hljs-literal,.hljs-number,.hljs-params,.hljs-template-variable,.hljs-type,.hljs-variable{color:#ff9e64}.hljs-attribute,.hljs-built_in{color:#e0af68}.hljs-keyword,.hljs-property,.hljs-subst,.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#7dcfff}.hljs-selector-tag{color:#73daca}.hljs-addition,.hljs-bullet,.hljs-quote,.hljs-string,.hljs-symbol{color:#9ece6a}.hljs-code,.hljs-formula,.hljs-section{color:#7aa2f7}.hljs-attr,.hljs-char.escape_,.hljs-keyword,.hljs-name,.hljs-operator{color:#bb9af7}.hljs-punctuation{color:#c0caf5}.hljs{background:#1a1b26;color:#9aa5ce}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}

/* .line-number {
  display: inline-block;
  width: 30px;
  text-align: right;
  margin-right: 5px;
  color: gray;
  user-select: none;
} */

/* .editText:before {
  counter-increment: section;
  content: counter(section);
  padding: 10px;
}

.editText br::before {
  counter-increment: section;
  content: counter(section);
  padding: 10px; */

/* } */

/* .editText div:focus {
  background-color: #444444;
} */

/* .container {
  display: grid;
  grid-template-areas: 
    'side editor editor editor editor editor editor';
  gap: 1em;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
} */

/* .logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
} */

/* .row {
  display: flex;
  justify-content: center;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;
}

.commandCentre {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.commandCentre .mode {
  padding: 2px;
  font-size: 16px;
  float: left;
  text-align: center;
  width: 1em;
  color: black;
}

.commandCentre .infos {
  background-color: #2d2f3b;
  width: 100%;
  text-align: right;
  font-size: 16px;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}